body {
  font-family: 'Roboto', sans-serif;
}

.header-container {
  background-color: #292929;
  height: 10vh;
  display: flex;
  align-items: center;
  color: #f7484e;
  width: 100%;
}

.header {
 font-size: 15px;
 font-weight: bold;
 margin-left: 10px;
}

.header-springer, .header-slash {
 color: #eee6e1;
}

.header-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #f7484e;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  background-color: #6b849a;
  font-family: 'Roboto', sans-serif;
  color: white;
}

#code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d1d1d1;
}

.code-section-description {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.about-name {
  font-size: 48px;
  margin-bottom: 10px;
  font-family: 'Bungee Inline', cursive;
}

.about-description {
  font-size: 20px;
  margin-bottom: 10px;
}

.about-resume {
  font-size: 18px;
}

.body-links {
  color: #0e2045;
  font-family: 'Bungee Inline', cursive;
  &:hover{
    font-size: 35px;
  }
}

.cards {
  border: 5px solid #292929;
  height: 200px;
  width: 250px;
  margin-top: 10px;
}


#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  height: 10vh;
  width: 100%;
}

.gif3 {
  margin-bottom: 10px;
}

.footer-links {
  height: 40px;
  padding: 0 15px;
}

.header-contact {
  margin-right: 10px;
}

@media screen and (min-width: 500px) {
  .header {
    font-size: 20px;
  }

  #about {
    height: 100vh;
  }

  .about-name {
    font-size: 120px;
  }

  .about-description {
    font-size: 40px;
  }

  .about-resume {
    font-size: 35px;
  }

  .code-section-description {
    font-size: 30px;
    margin: 10px;
  }

  .cards {
    height: 400px;
    width: 600px;
  }

  pre {
    font-size: 20px;
    &:hover{
      font-size: 25px;
      cursor: pointer;
    }
  }

  .footer-links {
    height: 55px;
    margin: 10px;
    &:hover{
      height: 60px;
      cursor: pointer;
    }
  }
}
