html {
  font-family: 'Roboto', sans-serif;
}

.header-container {
  background-color: #292929;
  height: 10vh;
  display: flex;
  align-items: center;
  color: #f7484e;
  width: 100%;
  position: fixed;
}

.header {
 font-size: 12px;
 font-weight: bold;
 margin-left: 10px;
}

.header-springer, .header-slash {
 color: #eee6e1;
}

.header-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #f7484e;
}

.code-section-description {
  margin: 20px;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  width: 72%;
}

#code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6b849a;
  font-family: 'Roboto', sans-serif;
  color: white;
  flex-direction: column;
}


.about-name {
  font-size: 90px;
  margin-bottom: 15px;
  font-family: 'Bungee Inline', cursive;
}

.about-description {
  font-size: 45px;
  margin-bottom: 20px;
}

.about-resume {
  font-size: 30px;
}

.resume-link {
  color: #0e2045;
  font-family: 'Bungee Inline', cursive;
  &:hover{
    font-size: 35px;
  }
}

.cards {
  border: 5px solid red;
  height: 450px;
  width: 700px;
  margin: 20px;
}


#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  height: 10vh;
}

.footer-links {
  height: 40px;
  padding: 0 15px;
}

.header-contact {
  margin-right: 10px;
}

@media screen and (min-width: 500px) {
  .header {
    font-size: 20px;
  }
  pre {
    font-size: 20px;
    &:hover{
      font-size: 25px;
      cursor: pointer;
    }
  }
  .footer-links {
    height: 55px;
    margin: 10px;
    &:hover{
      height: 60px;
      cursor: pointer;
    }
  }
}
