html {
  font-family: 'Roboto', sans-serif;
}

.header-container {
  background-color: #292929;
  height: 10vh;
  display: flex;
  align-items: center;
  color: #f7484e;
  width: 100%;
}

.header {
 font-size: 12px;
 font-weight: bold;
 margin-left: 10px;
}

.header-end, .header-slash {
 color: #eee6e1;
}

.header-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
}

pre {
  font-size: 12px;
}

/*put this tag in a component for hexagon*/
/*<div className="hexagon"></div>*/
/*.header-text {
  margin-right: 20%;
}*/
.cards-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.cards {
  height: 100px;
  width: 150px;
  background-color: white;
  border: 5px solid #292929;
  margin: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  height: 10vh;
}

.footer-links {
  height: 40px;
  padding: 0 15px;
}

.header-contact {
  margin-right: 10px;
}

@media screen and (min-width: 500px) {
  .header {
    font-size: 20px;
  }
  pre {
    font-size: 20px;
    &:hover{
      font-size: 25px;
      cursor: pointer;
    }
  }
  .footer-links {
    height: 55px;
    margin: 10px;
    &:hover{
      height: 60px;
      cursor: pointer;
    }
  }
}
/*.hexagon {
	width: 40px;
	height: 20px;
	background: red;
	position: relative;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -20px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid red;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid red;
}*/
